

/* Eliminamos márgenes y ponemos el fondo  */
html,body {
    margin:0;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background:url("img/background/back1.jpg") center center fixed;
    background-size: 100% 100%;
  }


.hidden {
    visibility: hidden;
}

/*
.player-container {
    top: 250px;
    position: absolute;
    width: 46px;
    height: 41.1px;
}
*/
/*
*
*clase del ave
*/
.bird {
    /* Tamaño de la viñeta individual del ave (siempre la de mas arriba a la izquierda) */
    width: 128px;
    height: 128px;
    /*centrado de la imagen*/
    margin:auto;
    /* Imagen con el movimiento completo */ 
    background-image: url("img/bird.png");
    top: 250px;
}

/*
* cada segundo llama de manera infinita a fly con un paso por cada sprite/movimiento dentro de la imagen
*/
.flying {
    animation: fly 1s steps(5) infinite;
    position:relative;
}

/*
*
*/
@keyframes fly {
    0% { background-position:0 }
    100% { background-position:-640px }
}

/*
*background-image: url("img/cubicBlueBird/cubicBlueBirdFrames.png");
*/