/* Eliminamos márgenes y ponemos el fondo  */
html,body {
    margin:0;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background:url("img/background/back1.jpg") center center fixed;
    background-size: 100% 100%;
  }


.hidden {
    visibility: hidden;
}

/*
.player-container {
    top: 250px;
    position: absolute;
    width: 128px;
    height: 128px;
}
*/

/*
*
*Clase del ave
*/
.bird {
    /* Tamaño de la viñeta individual del ave (la de mas arriba a la izquierda) */
    width: 128px;
    height: 128px;
    /*centrado de la imagen*/
    margin:auto;
    /* Imagen con el movimiento completo */ 
    background-image: url("img/bird.png");
    top: 0px;
    /*para que este en el medio*/
    position:relative;
    
}

/*
* Cada segundo llama de manera infinita a fly con un paso por cada sprite/movimiento dentro de la imagen
*/
.flying {
    animation: fly 1s steps(5) infinite;
    animation-fill-mode: forwards;
}

/*
* Cada 300ms llama de manera infinita a fly con un paso por cada sprite/movimiento dentro de la imagen
*/
.flapping {
    animation: fly 300ms steps(5) infinite; 
    animation-fill-mode: forwards;
}

/*
* Mueve la imagen a la izquierda (por el negativo) para generar el efecto de volar
*/
@keyframes fly {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /*Ancho total de la imagen en negativo*/
    100% { background-position:-640px }
}

/*
* Cada 3 segundos llama a fall para que se ejecute en la misma velocidad y con el mismo efecto constante
*/
.falling{
    animation: fly 1s steps(5) infinite, fall 3s linear;
    animation-fill-mode: forwards;
}

.rising{
    animation: fly 1s steps(5) infinite, rise 3s linear;
    animation-fill-mode: forwards;
}

/**
* Modifica la posicion Y para generar el efecto de caida
*/
@keyframes fall {
   to {
       transform: translateY(100vh);
    }
}

/**
* Modifica la posicion Y para generar el efecto de subida
*/
@keyframes rise {
    to {
        transform: translateY(-100vh);
    }
}

/*
* Modifica Cada 3 segundos llama de manera lineal a die que modifica su posicion en X
*/
.dying {
    /*  tercera imagen  background-position:-257px;*/
    background-position:-257px;
    rotate: 90deg;
    animation: die 3s linear;
    animation-fill-mode: forwards;
}

/**
* Modifica la posicion X para generar el efecto de caida 
cuando la imagen esta volteada
*/
@keyframes die {
    100% {
        transform: translateX(100vh);
    }
}

/************************************************************/
/************************************************************/
/************************************************************/
/************************************************************/

.coin {
    /* Tamaño de la viñeta individual del ave (la de mas arriba a la izquierda) */
    width: 51px;
    height: 51px;
    /*centrado de la imagen*/
    margin:auto;
    /* Imagen con el movimiento completo */ 
    background-image: url("img/coin.png");
    top: 0px;
    
    
}

.rotating{
    animation: rotate 1s steps(10) infinite; 
    animation-fill-mode: forwards;
}

.collected{
    animation: rotate 1s steps(10) infinite, effect 2s linear;
    animation-fill-mode: forwards;
}

/*
* Mueve la imagen a la izquierda (por el negativo) para generar el efecto de girar
*/
@keyframes rotate {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /*Ancho total de la imagen en negativo*/
    100% {background-position: -512px;}
}

@keyframes effect {
    100% {
        transform: translate(-50vw, -50vh) ;
    }
}