* {
    margin: 5px;
}

h1{
    text-align: center;
    padding: 1%;
}

#canvas{
    border:1px solid #000000;
}

.caracteristicasJuego{
    display: flex;
 }

.menuJugadores{
   display: flex;
}

.zonaJugador2{
    display: flex;
}

.enJuego{
    font-size: 40px;
}
footer{
    margin-top: 5%;
}